@model IEnumerable<BinbinJobSearch.Entities.Posting>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Merchant
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Merchant.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PostingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PostingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PostingID })
        </td>
    </tr>
}

</table>
